%p
#copyright.container.content
  .row-fluid
    .span8
      Tüm hakları saklıdır. © 2012
      %strong
        - if @current_application
          = @current_application.name.camelize
    .span4
      .pull-right
        Hazırlayan
        %a{:href => "http://www.lab2023.com", :target => "blank"} lab2023 - internet teknolojileri