%form.form-inline.row-fluid{:action => "#{pages_path}", :method => "get"}
  %input{:style => "width:80%;", :name => "search", :type => "text", :placeholder => t('placeholder')}
    %input.btn.btn-primary{:type => "submit", :value => "Ara"}