%form.form-inline{:action => "#{pages_path}", :method => "get"}
  %input.input-xxlarge{:style => "height: 30px; width: 770px;", :name => "search", :type => "text", :placeholder => "Bir sorunuz mu var? Aramaya buradan başlayın."}
    %input.btn.btn-large.btn-primary{:type => "submit", :value => "Ara"}