%h2 Twitter
#tweets{:style =>"float:right"}
  #tweet
%script{:src => "http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js", :type => "text/javascript"}

:javascript
     getTwitters('tweet', {
       id: '#{@current_application.twitter_username}',
       count: 3,
       enableLinks: true,
       clearContents: true,
       template: '%text%'
     });


%h2 Facebook
.fb-like-box{"data-border-color" => "#ddd", "data-header" => "false", "data-href" => "#{@current_application.facebook_page}", "data-show-faces" => "true", "data-stream" => "false", "data-width" => "260"}
