.container-fluid
  .row-fluid
    .span12
      .hero-unit
        %h1 Hoşgeldiniz
        %p This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
        %p
          %a.btn.btn-primary.btn-large{:href =>"#{new_contributor_registration_path}"} Hemen Başlayın

      .row-fluid
      - @applications.each do |application|
        .span4
          %h2
            = application.name.camelize
          %p
            = image_tag application.logo.url(:small)
          %p
            = link_to(application.cname_domain)

  %hr
    %footer
      %p © lab2023 - internet teknolojileri 2012
