/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require_tree .

@import "compass"

$baseFontFamily: "PT Sans", "Helvetica Neue", Arial, sans-serif
$baseFontSize: 16px // 1.15em
$baseLineHeight: 26px // 1.5em
$navbarHeight: 62px

@import "bootstrap"

body
  padding-top: 90px
  background: url(retina_wood.png)

@import "bootstrap-responsive"

.brand
  color: white !important
  margin-left: 0px !important
  padding: 12px 15px 15px !important
  font-size: 35px !important

.black
  color: #000 !important
.span2
  display: inline-block
  padding: 4px 10px 4px
  margin: 5px 5px 6px
  line-height: 18px

.text-center
  text-align: center !important

.text-left
  text-align: left !important

.text-right
  text-align: right !important

.bigger
  font-size: 130px !important

.larger
  font-size: 40px !important

.smaller
  font-size: 90% !important

.content
  padding: 20px

div.container, div.container-fluid
  div.wrapper
    border: 1px solid rgba(0, 0, 0, 0.35)
    @include border-radius(5px)
    @include box-shadow(rgba(0, 0, 0, 0.35) 0 0 20px)
    background-color: #fff

    div.wrap
      padding: 20px

      div.head
        @include border-top-radius(5px)
        @include background-image(linear-gradient(white, #e1e1e1))

        padding: 0 20px
        margin: -10px -20px 20px -20px
        min-height: 45px
        border-bottom: 1px solid #cdcdcd
        position: relative
        background-color: #e1e1e1
        background-repeat: repeat-x

        div.pull-left
          h2
            padding: 5px 0 0 0
            line-height: 24px

        div.title
          text-align: center

        div.pull-right
          padding-top: 5px
          text-align: right

    div.form-actions
      margin-left: -20px
      margin-right: -20px
      margin-bottom: -36px

  div.soft-wrapper
    @extend div.wrapper
    margin: auto
    width: 500px

#add_button
  float: left

ul.ui-autocomplete
  position: absolute
  list-style: none
  margin: 0
  padding: 0
  border: solid 1px #999
  cursor: default
  li
    background-color: #FFF
    border-top: solid 1px #DDD
    margin: 0
    padding: 0
    a
      color: #000
      display: block
      padding: 3px

    a.ui-state-hover, a.ui-state-active
      background-color: #FFFCBB

#copyright
  color: #222
  font-size: 95%

.alert
  @include box-shadow(rgba(0, 0, 0, 0.35) 0 0 20px)